*{
    margin: 0px;
    padding: 0px;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 15px;
    padding: 5px;
}
nav li a{
    text-decoration: none;
    color:rgb(6, 143, 255)
}
nav li:hover{
    background-color: rgb(224, 224, 224);
}

nav li .dropdown{
    display: none;
    position: absolute;
    padding: 5px;
}
nav li:hover > .dropdown{
    display:block
}

#hero{
    height: 919px;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgb(36, 36, 36),
        rgba(173, 173, 173, 0)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#hero .hero{
    width: 60%;
}

.title{
    color: white;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 10px;
}

#hero .hero h1{
    color: white;
    font-family: sans-serif;
    font-size: 63px;
    font-weight: 600;
    line-height: 1.1em;
    text-align: center;
    margin-bottom: 20px;
}
#hero .hero .title{
    color: white;
}

.dd{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;   
    margin-bottom: 10px; 
}
.btn{
    padding: 15px 30px;
    background-color: rgb(90, 255, 117);
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.btnd{
    text-align: center;
}

.full-card{
    width: 900px;
    margin: 100px auto;
}

.title{
    color: black;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 40px;
}
 
.short{
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
    text-align: center;
    opacity: 0.7;
}
.single{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px 10px 0 0;
    padding: 0 0 10px 0;
}

.single .img img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.single .span{
    background-color: rgb(177, 255, 210);
    padding: 12px 32px;
}

.btn2{
    background-color: rgb(76, 252, 85);
    padding: 14px 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.single p{
    text-align: center;
}

.card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
